{% extends 'base.html' %}
{% block body %}

<table class="table table-striped">
    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>

{% for melon in cart %}
{% set quantity = session['cart'][melon.id|string] %}
{% set total_price = '%0.2f'| format(melon.price * quantity) %}
    <tr>
        <td>{{ melon.common_name}}</td>
        <td>{{ quantity }} </td>
        <td>${{ '%0.2f'| format(melon.price) }}</td>
        <td>${{ total_price }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Total: ${{ '%0.2f'| format(total) }} </h3>

<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endblock %}